<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="container">
                    <a class="brand" href="{{ url_for('r_index') }}">filekeep-server</a>
                    <div class="tabs">
                        {% for n in nav %}
                            <a class="{% if request.endpoint == n[1] %}active{% endif %}" href="{{ url_for(n[1]) }}">{{ n[0] }}</a>
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block main %}{% endblock %}
        </main>
        <footer>
            <div class="container">
                <p>Check <a href="https://github.com/goncalomb/filekeep-server">filekeep-server</a> on GitHub.</p>
            </div>
        </footer>
    </body>
</html>
