{% extends 'base.html' %}

{% block title %}Files - /{{ path }}{% endblock %}

{% block main %}
<h1>Files</h1>
{% if not_found %}
    <p class="text-error">File not found.</p>
{% elif entry.is_dir %}
    <p class="text-grey"><strong>/{{ path }}</strong></p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% if path %}
                <tr>
                    <td>(<a href="..">go up</a>)</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            {% for e in entries %}
                <tr>
                    <td><a href="{{ e.name|urlencode }}{% if e.is_dir %}/{% endif %}">{{ e.name }}{% if e.is_dir %}/{% endif %}</a></td>
                    <td><span title="{{ entry.size }} bytes">{% if e.is_dir %}-{% else %}{{ e.size|format_size }}{% endif %}</span></td>
                    <td>{{ e.mtime|format_timestamp_nano }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-grey"><strong>/{{ path }}</strong></p>
    <p>Size: {{ entry.size|format_size }} ({{ entry.size }} bytes)</p>
    <p>Last Modified: {{ entry.mtime|format_timestamp_nano }}</p>
    <p><a class="button" href="?dl=1">Download</a></p>
{% endif %}
{% endblock %}
